.container.usercenter .slide .dot {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    z-index: 5;
    font-size: 0;
    text-align: center;
    margin: 0 auto
}

.container.usercenter .slide .dot span {
    display: inline-block;
    width: 15px;
    height: 4px;
    margin-left: 4px;
    border-radius: 20px;
    background-color: #fff
}

.container.usercenter .slide .dot span.cur {
    background-color: #ff934b;
    border: none
}